<!DOCTYPE html>
<html lang="zh-cn">
<% var title = '领取礼包-爱百娱' %>
<% var curIndex = 3 %>
<% var gifts = [
{
"title": "龙破九天新手卡",
"img": "http://www.ibaiyu.cn/upload/201501/20/201501201708115437.jpg",
"txt": "《龙破九天》是一款以中国经典神话为背景的角色扮演类游戏，用户在游戏中将体验上古洪荒时期，神、魔、凡三足鼎力，皆想争夺这混沌初开的天地主宰权，以凡界为战场的神",
"href": "/4372yxlb_show.aspx?gameid=68"
},{
"title": "龙破九天新手卡",
"img": "http://www.ibaiyu.cn/upload/201501/20/201501201708115437.jpg",
"txt": "《龙破九天》是一款以中国经典神话为背景的角色扮演类游戏，用户在游戏中将体验上古洪荒时期，神、魔、凡三足鼎力，皆想争夺这混沌初开的天地主宰权，以凡界为战场的神",
"href": "/4372yxlb_show.aspx?gameid=68"
},{
"title": "龙破九天新手卡",
"img": "http://www.ibaiyu.cn/upload/201501/20/201501201708115437.jpg",
"txt": "《龙破九天》是一款以中国经典神话为背景的角色扮演类游戏，用户在游戏中将体验上古洪荒时期，神、魔、凡三足鼎力，皆想争夺这混沌初开的天地主宰权，以凡界为战场的神",
"href": "/4372yxlb_show.aspx?gameid=68"
},{
"title": "龙破九天新手卡",
"img": "http://www.ibaiyu.cn/upload/201501/20/201501201708115437.jpg",
"txt": "《龙破九天》是一款以中国经典神话为背景的角色扮演类游戏，用户在游戏中将体验上古洪荒时期，神、魔、凡三足鼎力，皆想争夺这混沌初开的天地主宰权，以凡界为战场的神",
"href": "/4372yxlb_show.aspx?gameid=68"
},{
"title": "龙破九天新手卡",
"img": "http://www.ibaiyu.cn/upload/201501/20/201501201708115437.jpg",
"txt": "《龙破九天》是一款以中国经典神话为背景的角色扮演类游戏，用户在游戏中将体验上古洪荒时期，神、魔、凡三足鼎力，皆想争夺这混沌初开的天地主宰权，以凡界为战场的神",
"href": "/4372yxlb_show.aspx?gameid=68"
},
{
"title": "龙破九天新手卡",
"img": "http://www.ibaiyu.cn/upload/201501/20/201501201708115437.jpg",
"txt": "《龙破九天》是一款以中国经典神话为背景的角色扮演类游戏，用户在游戏中将体验上古洪荒时期，神、魔、凡三足鼎力，皆想争夺这混沌初开的天地主宰权，以凡界为战场的神",
"href": "/4372yxlb_show.aspx?gameid=68"
},{
"title": "龙破九天新手卡",
"img": "http://www.ibaiyu.cn/upload/201501/20/201501201708115437.jpg",
"txt": "《龙破九天》是一款以中国经典神话为背景的角色扮演类游戏，用户在游戏中将体验上古洪荒时期，神、魔、凡三足鼎力，皆想争夺这混沌初开的天地主宰权，以凡界为战场的神",
"href": "/4372yxlb_show.aspx?gameid=68"
},{
"title": "龙破九天新手卡",
"img": "http://www.ibaiyu.cn/upload/201501/20/201501201708115437.jpg",
"txt": "《龙破九天》是一款以中国经典神话为背景的角色扮演类游戏，用户在游戏中将体验上古洪荒时期，神、魔、凡三足鼎力，皆想争夺这混沌初开的天地主宰权，以凡界为战场的神",
"href": "/4372yxlb_show.aspx?gameid=68"
},{
"title": "龙破九天新手卡",
"img": "http://www.ibaiyu.cn/upload/201501/20/201501201708115437.jpg",
"txt": "《龙破九天》是一款以中国经典神话为背景的角色扮演类游戏，用户在游戏中将体验上古洪荒时期，神、魔、凡三足鼎力，皆想争夺这混沌初开的天地主宰权，以凡界为战场的神",
"href": "/4372yxlb_show.aspx?gameid=68"
},{
"title": "龙破九天新手卡",
"img": "http://www.ibaiyu.cn/upload/201501/20/201501201708115437.jpg",
"txt": "《龙破九天》是一款以中国经典神话为背景的角色扮演类游戏，用户在游戏中将体验上古洪荒时期，神、魔、凡三足鼎力，皆想争夺这混沌初开的天地主宰权，以凡界为战场的神",
"href": "/4372yxlb_show.aspx?gameid=68"
}
] %>
<%- include ../head-gift %>
<body>
<% include ../navbar %>
<div class="container main" style="">
  <div class="content row">
    <ul class="gift-list clearfix col-md-12">
      <% gifts.forEach(function(gift){ %>
      <li class="post-home ">
        <div class="post-thumbnail">
          <a class="inimg" href="<%= gift.href %>" title="<%= gift.title %>" target="_blank">
            <img alt="<%= gift.title %>" width="225" height="140" src="<%= gift.img %>">
            <div class="img_title" ><%= gift.txt %></div>

          </a>
        </div>
        <div class="post-info">
          <p class="title"><a href="<%= gift.href %>" rel="bookmark" title="<%= gift.title %>" target="_blank" class=""><%= gift.title %></a></p>
          <p class="count">3985/5000</p>
        </div>
      </li>
      <% }) %>
    </ul>
  </div>
</div>
<% include ../footer %>
<% include ../modal-login %>
<% include ../scripts-gift %>
</body>
</html>