<!DOCTYPE html>
<html lang="zh-cn">
<% var title = '领取礼包-爱百娱' %>
<% var curIndex = 3 %>
<% var gifts = [
{
"title": "龙破九天新手卡",
"img": "http://www.ibaiyu.cn/upload/201501/20/201501201708115437.jpg",
"txt": "《龙破九天》是一款以中国经典神话为背景的角色扮演类游戏，用户在游戏中将体验上古洪荒时期，神、魔、凡三足鼎力，皆想争夺这混沌初开的天地主宰权，以凡界为战场的神",
"href": "/4372yxlb_show.aspx?gameid=68",
"total": 1512,
"all": 5000
},{
"title": "奇迹归来新手卡",
"img": "http://ibaiyu.cn/upload/201501/13/201501132021491948.png",
"txt": "《奇迹归来》 是一款忠实于奇迹精神的3D角色扮演类网页游戏。是全国第一款无插件3D网页游戏、全国第一款可以局部换装的网页游戏......",
"href": "/4372yxlb_show.aspx?gameid=67",
"total": 3347,
"all": 8000
},{
"title": "龙破九天新手卡",
"img": "http://www.ibaiyu.cn/upload/201501/20/201501201708115437.jpg",
"txt": "《龙破九天》是一款以中国经典神话为背景的角色扮演类游戏，用户在游戏中将体验上古洪荒时期，神、魔、凡三足鼎力，皆想争夺这混沌初开的天地主宰权，以凡界为战场的神",
"href": "/4372yxlb_show.aspx?gameid=68",
"total": 1512,
"all": 5000
},{
"title": "龙破九天新手卡",
"img": "http://www.ibaiyu.cn/upload/201501/20/201501201708115437.jpg",
"txt": "《龙破九天》是一款以中国经典神话为背景的角色扮演类游戏，用户在游戏中将体验上古洪荒时期，神、魔、凡三足鼎力，皆想争夺这混沌初开的天地主宰权，以凡界为战场的神",
"href": "/4372yxlb_show.aspx?gameid=68",
"total": 1512,
"all": 5000
},{
"title": "龙破九天新手卡",
"img": "http://www.ibaiyu.cn/upload/201501/20/201501201708115437.jpg",
"txt": "《龙破九天》是一款以中国经典神话为背景的角色扮演类游戏，用户在游戏中将体验上古洪荒时期，神、魔、凡三足鼎力，皆想争夺这混沌初开的天地主宰权，以凡界为战场的神",
"href": "/4372yxlb_show.aspx?gameid=68",
"total": 1512,
"all": 5000
},
{
"title": "龙破九天新手卡",
"img": "http://www.ibaiyu.cn/upload/201501/20/201501201708115437.jpg",
"txt": "《龙破九天》是一款以中国经典神话为背景的角色扮演类游戏，用户在游戏中将体验上古洪荒时期，神、魔、凡三足鼎力，皆想争夺这混沌初开的天地主宰权，以凡界为战场的神",
"href": "/4372yxlb_show.aspx?gameid=68",
"total": 1512,
"all": 5000
},{
"title": "龙破九天新手卡",
"img": "http://www.ibaiyu.cn/upload/201501/20/201501201708115437.jpg",
"txt": "《龙破九天》是一款以中国经典神话为背景的角色扮演类游戏，用户在游戏中将体验上古洪荒时期，神、魔、凡三足鼎力，皆想争夺这混沌初开的天地主宰权，以凡界为战场的神",
"href": "/4372yxlb_show.aspx?gameid=68",
"total": 1512,
"all": 5000
},{
"title": "龙破九天新手卡",
"img": "http://www.ibaiyu.cn/upload/201501/20/201501201708115437.jpg",
"txt": "《龙破九天》是一款以中国经典神话为背景的角色扮演类游戏，用户在游戏中将体验上古洪荒时期，神、魔、凡三足鼎力，皆想争夺这混沌初开的天地主宰权，以凡界为战场的神",
"href": "/4372yxlb_show.aspx?gameid=68",
"total": 1512,
"all": 5000
},{
"title": "龙破九天新手卡",
"img": "http://www.ibaiyu.cn/upload/201501/20/201501201708115437.jpg",
"txt": "《龙破九天》是一款以中国经典神话为背景的角色扮演类游戏，用户在游戏中将体验上古洪荒时期，神、魔、凡三足鼎力，皆想争夺这混沌初开的天地主宰权，以凡界为战场的神",
"href": "/4372yxlb_show.aspx?gameid=68",
"total": 1512,
"all": 5000
},{
"title": "龙破九天新手卡",
"img": "http://www.ibaiyu.cn/upload/201501/20/201501201708115437.jpg",
"txt": "《龙破九天》是一款以中国经典神话为背景的角色扮演类游戏，用户在游戏中将体验上古洪荒时期，神、魔、凡三足鼎力，皆想争夺这混沌初开的天地主宰权，以凡界为战场的神",
"href": "/4372yxlb_show.aspx?gameid=68",
"total": 1512,
"all": 5000
},
{
"title": "龙破九天新手卡",
"img": "http://www.ibaiyu.cn/upload/201501/20/201501201708115437.jpg",
"txt": "《龙破九天》是一款以中国经典神话为背景的角色扮演类游戏，用户在游戏中将体验上古洪荒时期，神、魔、凡三足鼎力，皆想争夺这混沌初开的天地主宰权，以凡界为战场的神",
"href": "/4372yxlb_show.aspx?gameid=68",
"total": 1512,
"all": 5000
},{
"title": "龙破九天新手卡",
"img": "http://www.ibaiyu.cn/upload/201501/20/201501201708115437.jpg",
"txt": "《龙破九天》是一款以中国经典神话为背景的角色扮演类游戏，用户在游戏中将体验上古洪荒时期，神、魔、凡三足鼎力，皆想争夺这混沌初开的天地主宰权，以凡界为战场的神",
"href": "/4372yxlb_show.aspx?gameid=68",
"total": 1512,
"all": 5000
},{
"title": "龙破九天新手卡",
"img": "http://www.ibaiyu.cn/upload/201501/20/201501201708115437.jpg",
"txt": "《龙破九天》是一款以中国经典神话为背景的角色扮演类游戏，用户在游戏中将体验上古洪荒时期，神、魔、凡三足鼎力，皆想争夺这混沌初开的天地主宰权，以凡界为战场的神",
"href": "/4372yxlb_show.aspx?gameid=68",
"total": 1512,
"all": 5000
},{
"title": "龙破九天新手卡",
"img": "http://www.ibaiyu.cn/upload/201501/20/201501201708115437.jpg",
"txt": "《龙破九天》是一款以中国经典神话为背景的角色扮演类游戏，用户在游戏中将体验上古洪荒时期，神、魔、凡三足鼎力，皆想争夺这混沌初开的天地主宰权，以凡界为战场的神",
"href": "/4372yxlb_show.aspx?gameid=68",
"total": 1512,
"all": 5000
},{
"title": "龙破九天新手卡",
"img": "http://www.ibaiyu.cn/upload/201501/20/201501201708115437.jpg",
"txt": "《龙破九天》是一款以中国经典神话为背景的角色扮演类游戏，用户在游戏中将体验上古洪荒时期，神、魔、凡三足鼎力，皆想争夺这混沌初开的天地主宰权，以凡界为战场的神",
"href": "/4372yxlb_show.aspx?gameid=68",
"total": 1512,
"all": 5000
}
] %>

<% var banners = [
  {
    "title": "女神邀你一起过节",
    "href": "#",
    "img": "../upload/banner/banner-1.jpg",
    "info": "奇迹归来",
    "txt": "《奇迹归来》 是一款忠实于奇迹精神的3D角色扮演类网页游戏。是全国第一款无插件3D网页游戏、全国第一款可以局部换装的网页游戏......"
  },{
    "title": "女神邀你一起过节",
    "href": "#",
    "img": "../upload/banner/banner-1.jpg",
    "info": "奇迹归来",
    "txt": "《奇迹归来》 是一款忠实于奇迹精神的3D角色扮演类网页游戏。是全国第一款无插件3D网页游戏、全国第一款可以局部换装的网页游戏......"
  },{
    "title": "女神邀你一起过节",
    "href": "#",
    "img": "../upload/banner/banner-1.jpg",
    "info": "奇迹归来",
    "txt": "《奇迹归来》 是一款忠实于奇迹精神的3D角色扮演类网页游戏。是全国第一款无插件3D网页游戏、全国第一款可以局部换装的网页游戏......"
  },
  ]%>
<% var news = [
  {
    "title": "《龙破九天》2.7-2.10运营活动",
    "title_short": "《龙破九天》2.7-2.10运营活动",
    "game": "龙破九天",
    "time": "2015-2-6",
    "href": "http://www.ibaiyu.cn/4372news.aspx?id=11732"
  },{
    "title": "《龙破九天》2.7-2.10运营活动",
    "title_short": "《龙破九天》2.7-2.10运营活动",
    "game": "龙破九天",
    "time": "2015-2-6",
    "href": "http://www.ibaiyu.cn/4372news.aspx?id=11732"
  },{
    "title": "《龙破九天》2.7-2.10运营活动",
    "title_short": "《龙破九天》2.7-2.10运营活动",
    "game": "龙破九天",
    "time": "2015-2-6",
    "href": "http://www.ibaiyu.cn/4372news.aspx?id=11732"
  },{
    "title": "《龙破九天》2.7-2.10运营活动",
    "title_short": "《龙破九天》2.7-2.10运营活动",
    "game": "龙破九天",
    "time": "2015-2-6",
    "href": "http://www.ibaiyu.cn/4372news.aspx?id=11732"
  },{
    "title": "《龙破九天》2.7-2.10运营活动",
    "title_short": "《龙破九天》2.7-2.10运营活动",
    "game": "龙破九天",
    "time": "2015-2-6",
    "href": "http://www.ibaiyu.cn/4372news.aspx?id=11732"
  },
] %>
<% var servers = [
{
"game": "龙破九天",
"server": "双线14服",
"type": "角色扮演类",
"img": "",
"icon_s": "../upload/game/s-1.gif",
"icon_b": "../upload/game/b-1.gif",
"href": "#",
"time": "2-16 14:30"
},{
"game": "龙破九天",
"server": "双线14服",
"type": "角色扮演类",
"img": "",
"icon_s": "../upload/game/s-1.gif",
"icon_b": "../upload/game/b-1.gif",
"href": "#",
"time": "2-16 14:30"
},{
"game": "龙破九天",
"server": "双线14服",
"type": "角色扮演类",
"img": "",
"icon_s": "../upload/game/s-1.gif",
"icon_b": "../upload/game/b-1.gif",
"href": "#",
"time": "2-16 14:30"
},{
"game": "龙破九天",
"server": "双线14服",
"type": "角色扮演类",
"img": "",
"icon_s": "../upload/game/s-1.gif",
"icon_b": "../upload/game/b-1.gif",
"href": "#",
"time": "2-16 14:30"
},{
"game": "龙破九天",
"server": "双线14服",
"type": "角色扮演类",
"img": "",
"icon_s": "../upload/game/s-1.gif",
"icon_b": "../upload/game/b-1.gif",
"href": "#",
"time": "2-16 14:30"
},{
"game": "龙破九天",
"server": "双线14服",
"type": "角色扮演类",
"img": "",
"icon_s": "../upload/game/s-1.gif",
"icon_b": "../upload/game/b-1.gif",
"href": "#",
"time": "2-16 14:30"
},
] %>
<%- include ../head-gift %>
<body>
<% include ../navbar %>
<div class="container main" style="">
  <div class="content">
    <div class="gift-nav clearfix" id="#gameInfo">
      <h3>《黑暗之光》新手卡</h3>
      <a href="./gift-list.html" class="return">«返回</a>
    </div>
    <div class="gift-top clearfix">
      <div class="img-box">
        <img class="img-thumbnail" src="../upload/game/470_290/201406201141312816.png" alt=""/>
      </div>
      <div class="info-box">
        <p>礼包名称：黑暗之光新手卡</p>
        <p>领取条件：免费</p>
        <p>发放总量： 50000</p>
        <p>剩余数量： 29501</p>
        <div class="fl choose-server"><span>选择您角色所在的服务器：</span><select name="ddlservers" id="ddlservers">
          <option value="">请选择服务器</option>
          <option value="s1">双线1服</option>
          <option value="s2">双线2服</option>
          <option value="s3">双线3服</option>
          <option value="s4">双线4服</option>
          <option value="s5">双线5服</option>
          <option value="s6">双线6服</option>
          <option value="s7">双线7服</option>
          <option value="s8">双线8服</option>
          <option value="s9">双线9服</option>
          <option value="s10">双线10服</option>
          <option value="s11">双线11服</option>
          <option value="s12">双线12服</option>
          <option value="s13">双线13服</option>
          <option value="s14">双线14服</option>
          <option value="s15">双线15服</option>
          <option value="s16">双线16服</option>
          <option value="s17">双线17服</option>
          <option value="s18">双线18服</option>
          <option value="s19">双线19服</option>
          <option value="s20">双线20服</option>
          <option value="s21">双线21服</option>
          <option value="s22">双线22服</option>
          <option value="s23">双线23服</option>
          <option value="s24">双线24服</option>
          <option value="s25">双线25服</option>
          <option value="s26">双线26服</option>
          <option value="s27">双线27服</option>
          <option value="s28">双线28服</option>
          <option value="s29">双线29服</option>
          <option value="s30">双线30服</option>
          <option value="s31">双线31服</option>
          <option value="s32">双线32服</option>
          <option value="s33">双线33服</option>
          <option value="s34">双线34服</option>
          <option value="s35">双线35服</option>
          <option value="s36">双线36服</option>
          <option value="s37">双线37服</option>
          <option value="s38">双线38服</option>

        </select></div>


        <button class=" btn btn-lg btn-primary btn-block">立即领取</button>

      </div>

    </div>
    <div class="gift-content shadow">
      <h4>礼包领取及使用说明</h4>
      <div class="content">
        <p>
          <span style="font-size:14px;">领取方式：</span>
        </p>
        <p>
          <span style="font-size:14px;">1.在官网领取新手卡礼包激活码；</span>
        </p>
        <p>
          <span style="font-size:14px;">2.点击游戏左上角“兑换礼包”字样按钮，弹出窗口；</span>
        </p>
        <p>
          <span style="font-size:14px;">3.在弹出窗口内输入礼包激活码，点击兑换&nbsp;</span>
        </p>
        <p>
          <span style="font-size:14px;">5. 每个账号，只能领取和使用一次新手卡礼包；</span>
        </p>
        <p>
          <span style="font-size:14px;">&nbsp;</span>
        </p>
        <p>
          <span style="font-size:14px;">礼包内容：</span>
        </p>
        <p>
          <span style="font-size:14px;">回天丹*40</span>
        </p>
        <p>
          <span style="font-size:14px;">清虚丹*40</span>
        </p>
        <p>
          <span style="font-size:14px;">双倍血能丹*2</span>
        </p>
        <p>
          <span style="font-size:14px;">还魂符*10</span>
        </p>
        <p>
          <span style="font-size:14px;">扩包符*6</span>
        </p>
        <p>
          <span style="font-size:14px;">&nbsp;</span>
        </p>
        <p>
          <span style="font-size:14px;">&nbsp;</span>
        </p>
        <p>
          <span style="font-size:14px;">&nbsp;</span>
        </p>


      </div>
    </div>
  </div>
</div>
<% include ../footer %>
<% include ../modal-login %>
<% include ../scripts-gift %>
</body>
</html>