<!DOCTYPE html>
<html lang="zh-cn">
<% var title = '用户中心-我玩过的游戏' %>
<% var curIndex = 1 %>
<%- include ../head-user %>
<body>
<% include ../navbar %>
<div class="container main">
  <% include ../usercard %>
  <div class="usercenter clearfix row">
    <div class="left-nav left">
      <ul>
        <li>
          <dl>
            <dt class="person-info"><span>个人信息</span></dt>
            <dd><a href="edit.html">修改资料</a></dd>
            <dd><a href="javascript:void 0" data-toggle="modal" data-target="#myModal">更换头像</a></dd>
            <dd><a href="idcard.html">防沉迷认证</a></dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="safe-center"><span>安全中心</span></dt>
            <dd><a href="changepassword.html">修改密码</a></dd>
            <dd><a href="security.html">设置密保</a></dd>
            <dd><a href="bindemail.html">绑定邮箱</a></dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="game-center"><span>游戏平台</span></dt>
            <dd class="cur"><a href="mygame.html">我玩过的游戏</a></dd>
            <dd><a href="message.html">平台消息</a></dd>
            <dd><a href="/4372czzx.aspx">账户充值</a></dd>
            <dd><a href="record.html">充值记录</a></dd><dd><a href="consume.html">消费记录</a></dd>
          </dl>
        </li>

      </ul>
    </div>
    <div class="main-nav  ">
      <div class="row">
        <div class="content col-md-12">
          <h4>我玩过的游戏</h4>
          <ul class="game-list clearfix">
            <li>
              <div class="img-box pos-re">
                <img class="img-responsive" src="../upload/game/225_143/201412121100194030.png">
                <p class="game-name">
                  <span class="name">传奇无双</span>
                  <span class="sever">双线248服</span>
                </p>
                <div class="img-hover">
                  <p class="clearfix"><span class="name"><a target="_blank" href="#">传奇无双</a></span><span class="role">角色扮演</span></p>
                  <p class="clearfix">
                    <span class="links">
                      <a target="_blank" href="#">官网</a>
                      |
                      <a target="_blank" href="#">礼包</a></span>
                    <a class="go-btn" data-href="#" target="_blank" href="#">进入游戏</a>
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="img-box pos-re">
                <img class="img-responsive" src="../upload/game/225_143/201406201026294976.png">
                <p class="game-name">
                  <span class="name">黑暗之光</span>
                  <span class="sever">双线248服</span>
                </p>
                <div class="img-hover">
                  <p class="clearfix"><span class="name"><a target="_blank" href="#">黑暗之光</a></span><span class="role">角色扮演</span></p>
                  <p class="clearfix">
                    <span class="links">
                      <a target="_blank" href="#">官网</a>
                      |
                      <a target="_blank" href="#">礼包</a></span>
                    <a class="go-btn" data-href="#" target="_blank" href="#">进入游戏</a>
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="img-box pos-re">
                <img class="img-responsive" src="../upload/game/225_143/201411121440305776.png">
                <p class="game-name">
                  <span class="name">求魔</span>
                  <span class="sever">双线248服</span>
                </p>
                <div class="img-hover">
                  <p class="clearfix"><span class="name"><a target="_blank" href="#">求魔</a></span><span class="role">角色扮演</span></p>
                  <p class="clearfix">
                    <span class="links">
                      <a target="_blank" href="#">官网</a>
                      |
                      <a target="_blank" href="#">礼包</a></span>
                    <a class="go-btn" data-href="#" target="_blank" href="#">进入游戏</a>
                  </p>
                </div>
              </div>
            </li><li>
              <div class="img-box pos-re">
                <img class="img-responsive" src="../upload/game/225_143/201412121100194030.png">
                <p class="game-name">
                  <span class="name">传奇无双</span>
                  <span class="sever">双线248服</span>
                </p>
                <div class="img-hover">
                  <p class="clearfix"><span class="name"><a target="_blank" href="#">传奇无双</a></span><span class="role">角色扮演</span></p>
                  <p class="clearfix">
                    <span class="links">
                      <a target="_blank" href="#">官网</a>
                      |
                      <a target="_blank" href="#">礼包</a></span>
                    <a class="go-btn" data-href="#" target="_blank" href="#">进入游戏</a>
                  </p>
                </div>
              </div>
            </li><li>
              <div class="img-box pos-re">
                <img class="img-responsive" src="../upload/game/225_143/201412121100194030.png">
                <p class="game-name">
                  <span class="name">传奇无双</span>
                  <span class="sever">双线248服</span>
                </p>
                <div class="img-hover">
                  <p class="clearfix"><span class="name"><a target="_blank" href="#">传奇无双</a></span><span class="role">角色扮演</span></p>
                  <p class="clearfix">
                    <span class="links">
                      <a target="_blank" href="#">官网</a>
                      |
                      <a target="_blank" href="#">礼包</a></span>
                    <a class="go-btn" data-href="#" target="_blank" href="#">进入游戏</a>
                  </p>
                </div>
              </div>
            </li><li>
              <div class="img-box pos-re">
                <img class="img-responsive" src="../upload/game/225_143/201412121100194030.png">
                <p class="game-name">
                  <span class="name">传奇无双</span>
                  <span class="sever">双线248服</span>
                </p>
                <div class="img-hover">
                  <p class="clearfix"><span class="name"><a target="_blank" href="#">传奇无双</a></span><span class="role">角色扮演</span></p>
                  <p class="clearfix">
                    <span class="links">
                      <a target="_blank" href="#">官网</a>
                      |
                      <a target="_blank" href="#">礼包</a></span>
                    <a class="go-btn" data-href="#" target="_blank" href="#">进入游戏</a>
                  </p>
                </div>
              </div>
            </li>

          </ul>
          <div class="pagination-content">
            <ul class="pagination  ">
              <li class="disabled"><a href="#">«</a></li>
              <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">»</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../footer %>
<% include ../modal-change-face %>
<% include ../modal-login %>
<% include ../scripts-user %>
</body>
</html>