<!--
<div class="footer" role="contentinfo">
    <div class="container">
        <ul class="links">
            <li><a href="about.html" target="_blank">关于我们</a></li>
            <li><a href="about.html?tabNum=1" target="_blank">联系我们</a></li>
            <li><a href="about.html?tabNum=2" target="_blank">商务合作</a></li>
            <li><a href="about.html?tabNum=3" target="_blank">服务条款</a></li>
            <li><a href="about.html?tabNum=4" target="_blank">人才招聘</a></li>
            <li><a href="jzjh/1.html" target="_blank">家长监护</a></li>
        </ul>
        <div class="copyright">
            <p>
                鄂ICP备12003812号 鄂ICP证B2-20120079 网络文化经营许可证 鄂网文【2012】0306-007号</p>
            <p>
                Copyright © 2012 All Rights Reserved
            </p>
        </div>
    </div>
</div>-->
<div class="footerBg"><!--尾部-->
    <div class="footer" role="contentinfo">
        <div class="container">
            <ul class="links">
                <li><a href="http://www.ibaiyu.cn/4372about.aspx" target="_blank">关于我们</a></li>
                <li><a href="http://www.ibaiyu.cn/4372about.aspx" target="_blank">联系我们</a></li>
                <li><a href="http://www.ibaiyu.cn/4372about.aspx" target="_blank">商务合作</a></li>
                <li><a href="http://www.ibaiyu.cn/4372about.aspx" target="_blank">服务条款</a></li>
                <li><a href="http://www.ibaiyu.cn/4372about.aspx" target="_blank">人才招聘</a></li>
                <li><a href="http://www.ibaiyu.cn/jzjk/1.html" target="_blank">家长监护</a></li>
            </ul>
            <div class="wrap clearfix">
                <div class="logo">
                    <a href="http://ibaiyu.cn/4372index.aspx" target="_blank"><img width="" src="../static/images/logo-160-56.png" alt=""></a>
                </div>
                <div class="copyright">
                    <p>抵制不良游戏，拒绝盗版游戏。注意自我保护，谨防受骗上当。适度游戏益脑，沉迷游戏伤身。合理安排时间，享受健康生活</p>
                    <p>Copyright ? 2015 All Rights Reserved</p>
                    <p>鄂ICP备12003812号 鄂ICP证B2-20120079 网络文化经营许可证 鄂网文【2012】0306-007号</p>
                </div>
            </div>
        </div>
    </div>
</div>