<!-- Modal 更换头像模态框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> 更换头像</h4>
            </div>
            <div class="modal-body face-choose">
                <ul class="choose clearfix">
                    <li><img class="img-responsive img-thumbnail" src="../upload/face/1.jpg" alt=""></li>
                    <li><img class="img-responsive img-thumbnail" src="../upload/face/2.jpg" alt=""></li>
                    <li><img class="img-responsive img-thumbnail" src="../upload/face/3.jpg" alt=""></li>
                    <li class="cur"><img class="img-responsive img-thumbnail" src="../upload/face/4.jpg" alt=""><i></i></li>
                    <li><img class="img-responsive img-thumbnail" src="../upload/face/5.jpg" alt=""></li>
                    <li><img class="img-responsive img-thumbnail" src="../upload/face/6.jpg" alt=""></li>
                    <li><img class="img-responsive img-thumbnail" src="../upload/face/7.jpg" alt=""></li>
                    <li><img class="img-responsive img-thumbnail" src="../upload/face/8.jpg" alt=""></li>
                    <li><img class="img-responsive img-thumbnail" src="../upload/face/9.jpg" alt=""></li>
                    <li><img class="img-responsive img-thumbnail" src="../upload/face/10.jpg" alt=""></li>
                    <li><img class="img-responsive img-thumbnail" src="../upload/face/11.jpg" alt=""></li>
                    <li><img class="img-responsive img-thumbnail" src="../upload/face/12.jpg" alt=""></li>
                    <li><img class="img-responsive img-thumbnail" src="../upload/face/13.jpg" alt=""></li>
                    <li><img class="img-responsive img-thumbnail" src="../upload/face/14.jpg" alt=""></li>
                    <li><img class="img-responsive img-thumbnail" src="../upload/face/15.jpg" alt=""></li>
                    <li><img class="img-responsive img-thumbnail" src="../upload/face/16.jpg" alt=""></li>
                    <li><img class="img-responsive img-thumbnail" src="../upload/face/17.jpg" alt=""></li>
                    <li><img class="img-responsive img-thumbnail" src="../upload/face/18.jpg" alt=""></li>
                    <li><img class="img-responsive img-thumbnail" src="../upload/face/19.jpg" alt=""></li>
                    <li><img class="img-responsive img-thumbnail" src="../upload/face/20.jpg" alt=""></li>
                    <li><img class="img-responsive img-thumbnail" src="../upload/face/21.jpg" alt=""></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="save-face">保存更改</button>
            </div>
        </div>
    </div>
</div>