<% var menus = [
    {name:'首页',href: '/4372index.aspx'},
    {name:'用户中心',href: '/4372user_center.aspx'},
    {name:'充值中心',href: '/4372czzx.aspx'},
    {name:'游戏礼包',href: '/4372yxlb.aspx'},
    {name:'新闻公告',href: '/4372new_list.aspx'},
] %>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <a class="navbar-logo" href="/4372index.aspx"><img src="../static/images/logo_medium.png" alt=""></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left visible-md-block visible-lg-block">
                    <% menus.forEach(function(menu, index){ %>
                    <li <% if(curIndex === index){ %>class="cur"<% } %>>
                    <a href="<%= menu.href %>" target="_blank"><%= menu.name %></a></li>
                    <% }) %>
                </ul>
                <ul class="nav navbar-nav navbar-right right has-login" style="display: none;">
                    <li class="username"><a>欢迎登录，<span>forchenbinbin</span></a></li>
                    <li class="bold"><a class="pointer" id="loginOut">[退出]</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right right not-login">
                    <li class="link"><a href="#" onclick="javascript:void 0" id="login"><span class="glyphicon glyphicon-user"></span> 登录</a></li>
                    <li class="link"><a href="/4372reg.aspx">免费注册</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</nav>
<!-- 公用顶部通栏 -->
