<div class="usercard row">
    <div class="col-sm-3 clearfix">
        <div class="face-container  pos-re">
            <img src="../upload/face/4.jpg" alt=""/>
            <div class="edit-face">
                <a href="javascript:void 0" data-toggle="modal" data-target="#myModal">更换头像</a>
                <div class="bg"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="info-container">
            <p class="welcome"><span>forchenbinbin</span><a href="/signout">[退出登陆]</a></p>
            <p class="msg inline-block"><a href="#" target="_blank"><strong>0</strong>条未读消息</a></p>
            <!--去掉用戶等級-->
            <!--<p class="lv">用户等级：
                <span class="range">
                    <i class="l"></i><i class="c"><i class="r0"></i></i><i class="r"></i>
                </span>
            </p>-->
            <p class="account">账户余额：
                <span class="item">百娱币: <span class="color-1">0</span></span>
            </p>
            <p class="safe">
                <span>帐户安全等级：</span>
                <!--lv1-lv3分别代表低、中、高-->
                <span class="lv lv1"></span>
            </p>
        </div>
    </div>
    <div class="col-sm-5">
        <ul class="clearfix icon-list">
            <li class="has-set">
                <span class="glyphicon glyphicon-credit-card"></span>
                <a data-tab="email" href="idcard-success.html" class="c_blue bind">身份证已绑定</a>
            </li>
            <li>
                <span class="glyphicon glyphicon-envelope"></span>
                <a data-tab="mobile" href="bindemail.html" class="c_blue bind">绑定邮箱</a>
            </li>
            <li>
                <span class="glyphicon glyphicon-lock"></span>
                <a data-tab="fcm" href="security.html" class="c_blue bind">设置密保</a>
            </li>
        </ul>
    </div>
</div>
